extends layout

include mixins/_reviewForm
include mixins/_review


block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title.title--single
        a(href=`/store/${store.slug}`) #{store.name}
  .single__details.inner
    img.single__map(src=h.staticMap(store.location.coordinates))
    p.single__location= store.location.address
    if storeWithReviews && storeWithReviews[0]
      - const avgRating = storeWithReviews[0].averageRating;
      .review__stars.in__single(title=`Rated ${avgRating} out of 5 stars`)
          = `★`.repeat(avgRating)
          = `☆`.repeat(5 - avgRating)
          span= `(${avgRating.toFixed(1)})`
    if store.phone
      a(href=`tel:${store.phone || ''}`).single__contact.phone
        != h.icon('phone2')
        .pulse-container
          .pulse-item
    if store.email
      a(href=`mailto:${store.email || ''}`).single__contact.email
        != h.icon('email')
    a(href=`#` data-lat=`${store.location.coordinates[1]}` data-lng=`${store.location.coordinates[0]}`).single__contact.direction
        != h.icon('direction')
    p.single__desc= store.description
    if store.tags
      ul.tags
        each tag in store.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text ##{tag}
    if !user
      p.single__review Just tried this place? #[a(href="/login") Login] to leave a review!
      
    if user
     +reviewForm(store)
    if store.reviews
      if storeWithReviews && storeWithReviews[0]
        - const avgRating = storeWithReviews[0].averageRating;
        .review__stars.in___single(title=`Rated ${avgRating} out of 5 stars`)
          = `★`.repeat(avgRating)
          = `☆`.repeat(5 - avgRating)
          span= `(Rated ${avgRating.toFixed(1)} in Average)`
      .reviews
        each review in store.reviews
          .review
            +review(review)

